@charset "UTF-8";

/* 回答はここに書いてね */
.q4 {
  padding: 20px;
  box-sizing: border-box;
}

.q4box {
  display: table;
  width: 100%;
  background-color: #ECF1F2;
  margin-top: 20px;
}

.cell {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.q4box:first-child {
  margin-top: 0;
}

.hadairo {
  width: 100px;
  background-color: #FDC8B8;
}

.murasaki {
  background-color: #E0ABD9;
}

.mizuiro {
  width: 100px;
  background-color: #B6D8ED;
}

.kiiro {
  background-color: #e5d32d;
}

.pinnku {
  background-color: #ec8f9a;
}

.midori {
  width: 500px;
  background-color: #8FDCAD;
}
/* 回答はここに書いてね */
