@charset "UTF-8";

/* 回答はここに書いてね */

.q3box {
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;
}

.q3box th {
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid #dedede;
  padding: 10px;
}

.q3box td {
  line-height: 22px;
  text-align: center;
  border: 1px solid #dedede;
  padding: 10px;
}

.q3box tr:nth-child(2n) {
  background-color: #ecf1f2;
}

.q3box tbody tr:last-child {
  border-top: 2px dashed #000;
}

/* 回答はここに書いてね */
